.chat, .chat-fullscreen{background: #E9E9E9;width: 100%;}
.chat{height: 66%;display: none;}
.chat-fullscreen{height: 100%;}
.chatRoom, .chatRoom-fullscreen{overflow-y:scroll;backgroun: #E9E9E9;}
.chatRoom{height: 83.2%;}
.chatRoom-fullscreen{height: 88.86%;}
.item, .item-sender{height: auto;margin-top: 10px;margin-right: 3%;}
.item-sender{margin-left: 3%;direction: ltr;}
.email-add{margin: 0px;padding: 0px;color: #E25100;font-size: 13px;font-weight: bolder;}
.image, .image-sender{height: 35px;width: 35px;border-radius: 5px;}
.image{float: right;margin-top: 3px;}
.image-sender{float: left}
.comment,.comment-sender{height: auto;background: white;border: 2px solid #D5D5D5;padding: 5px 2% 5px 2%;   border-radius: 5px;margin-top: 3px;}
.comment-sender{background: #DAEDFE !important;border: 2px solid #C3DEF3 !important;}
.comment p, .comment-sender p{margin: 0px;padding: 0px;max-width: 100%;font-size: 14px;font-weight: bolder;   color: #555555;}
.comment-sender p{direction: rtl;}
.chat1{float: right;margin-right: -6px;top: 5px;position: relative;}
.chat2{float: left;margin-left: -6px;top: 5px;position: relative;}
/***********************************************************************/
.userInput,.userInput-fullscreen{background: #E9E9E9;}
.userInput{height: 16.8%;}
.userInput-fullscreen{height: 11.14%;}
.text-input{background: white;height: 73%;width: 65.125%;border: 1px solid #D5D5D5;border-radius: 5px;   position: relative;margin-right:  1.5%;float: right;font-size: 13px;padding-right: 5px;}
.send{margin-right: 3%;height: 73%;}
