.match-tabs{height: 10%;background-image: url(../image/bg6.png);background-repeat: repeat;
border-bottom:  1px solid #999CA1;}
.match-tabs ul{list-style: none;padding: 0px;margin: 0px;height: 96%;position: relative;top: 2%;}
.match-tabs ul li{float: right;height: 100%;width: 24%;text-align: center;border-left:  2px solid  #DDDDDD;}
.match-tabs ul li img{top: 20%;position: relative;height: 60%;}
.match-status{background-image: linear-gradient(bottom, #F8F8F8 0%, #EAEAEA 100%);
background-image: -o-linear-gradient(bottom, #F8F8F8 0%, #EAEAEA 100%);
background-image: -moz-linear-gradient(bottom, #F8F8F8 0%, #EAEAEA 100%);
background-image: -webkit-linear-gradient(bottom, #F8F8F8 0%, #EAEAEA 100%);
background-image: -ms-linear-gradient(bottom, #F8F8F8 0%, #EAEAEA 100%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #F8F8F8),
	color-stop(1, #EAEAEA)
);
    height: 24%;
    border-bottom:  2px solid #DC5E11;
}
.header3{height: 23.5%;text-align: center;}
.header4{margin: 0px;font-weight: bolder;color: #788395;font-size: 13px;position: relative;top: 15%;}
.loader{height: 100%;background-image: url(../image/loader-bg.png);background-repeat: no-repeat; background-size: 100% 100%;width: 14.375%;float: left;}
.loader img{float: right;margin-right: 17%;height: 80%;}
.data{height: 76.5%;width: 96%;margin-right: 2%;}
.team1, .team2{float: right;width: 38.4%;text-align: center;position: relative;top: 20.75%;height: 58.5%;}
.team2{float: left;}
.team1 img,.team2 img{height: 100%;max-width: 32.5%;}
.team1 img{float: right;}
.team2 img{float: left;}
.team1 p, .team2 p{margin: 0px;font-weight: bolder;font-size: 14px;position: relative;top: 30%;color: #464F60;}
.score{width: 23.2%;float: right;height: 92%;position: relative;top: 12%;}
.score-div{background: black;border-top-right-radius: 10px;border-top-left-radius: 10px;height: 67.2%;
text-align: center;}
.the-score{margin: 0;font-size: 28px;color: white;position: relative;top: 15%;}
.status-div{background: #DC5E11;height: 32.8%;text-align: center;}
.status-div p{margin: 0;font-size: 14px;color: white;font-weight: bolder;top: 17%;position: relative;}
.status-div  span{font-size: 14px;margin-right: 3px;}
.list-container{height: 66%;overflow-y: scroll;}
.list-container ul{margin: 0px;padding: 0px;list-style: none;height: 100%;}
.list-container li{height: auto;background-image: url(../image/bg6.png);background-repeat: repeat;
color: #545454;font-weight: bolder;border-bottom: 1px solid #B4B4B4;min-height: 75px;}
.context{padding: 10px 3% 10px 2%;width: 82.5%;margin-right: 12.5%;}
.black-gray{height: 100%;position: relative;}
.blackDiv{float: right;background:  rgba(0, 0, 0, 0.5);width: 12.5%;height: 100%;position: absolute; 
text-align: center;padding-bottom: 1px;min-height: 75px;}
.blackDiv img{top: 7px;position: relative;height: 60px;max-width: 100%;}
.context label{}
.links{display: none;height: 66%;width: 100%;overflow-y: scroll;background: #E9E9E9;}
.table_container{ width:98%;margin-left:auto;margin-right:auto;position:relative;color:#555; font-size: 90% ; line-height:130%; height:30%}
.table_container ul{width: 85%;padding-right: 0;margin-right: 12%;font-weight: bold;list-style: none;}
.small_item{ width:20%; float:right;}
.map_bgs{ height:62.5%; margin-left:auto; margin-right:auto;}
.transfare_url{}
.transfare_url p{font-size: 130%; font-weight: bolder}
.transfare_url,  a {color:#de5f18; font-size: 110% ; line-height:130%; width:75.5%; margin-right:auto; margin-left:auto; }
.transfare_url a{ text-align:left; font-size:100%; direction:ltr; float:left;}
