#wrapper{z-index:1;width:100%;overflow:auto;height: 80.5%;top: 9.5%;position: fixed;}
#scroller{position:relative;-webkit-tap-highlight-color:rgba(0,0,0,0);float:left;width:100%;padding:0;}
.prog{width:90%;height:100%;margin-right:5%;overflow-y: scroll;}
.prog img{margin-top:3%;}
.prog p{font-size: 13px;font-weight: bolder;}
.prog h2{font-size:16px;font-weight:bolder;}
.prog label{font-size:15px;font-weight:bolder;}
.prog ul{list-style-type:disc;}
.prog li{font-size:16px;}