header, footer, aside, section, article, hgroup {display: block;}
html,body{padding: 0;margin: 0;direction: rtl;overflow-x: hidden;height: 100%;width: 100%;background: black;}
.clear {clear: both;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.clearfix {display: inline-block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix { height: 1%;}
#splash{background-image: url(../image/bg6.png);background-repeat: repeat;height: 100%;position: absolute;
width: 100%;}
.load-div{height: 100%;width: 100%;position: fixed;text-align: center;z-index: 0;margin-right: auto;
margin-left: auto;opacity: 0;}
.load-div img{height: 10%; top: 45%;position: relative;}
header{position: fixed;top: 0;width: 100%;height: 9.5%;background-color: #000;text-align: center;
background-image: url(../image/bg3.png);background-repeat: no-repeat;background-size: 100% 100%;}
header label{color: white;font-weight: bolder;top: 32%;position: relative;font-size: 18px;}
.back-button{float: right;right: 5%;height: 65%;position: relative;top: 17.5%;}
.container{margin: 0px;height: 100%;width: 100%;padding: 0px;background-color: #DDDDDD;}
.middle{height: 79.5%;position: fixed;width: 100%;top: 9.5%;margin: 0px;padding: 0px;z-index: 1;
background-color: #DDDDDD;}
/***************************************    tabs style   ***************************************/
.tabs{height: 10%;background: #E7E8EA;width: 100%;border-bottom:  1px solid #D4D4D4;
border-top: 1px solid #DD6020;background-image: url(../image/bg6.png);background-repeat: repeat;}
.tabsDivs{width: 93.75%;margin-right: 3.125%;height: 55%;top:22.5% ;position: relative;
border: 1px solid #A3A3A3;border-radius: 5px;}
.tabsDiv{margin: 0px;float: right;background:  lightgray;height: 100%;text-align: center;font-weight: bolder;
background-image: linear-gradient(bottom, #CFCFCD 0%, #D6D6D6 30%, #DADADA 31%, #E5E4E2 100%);
background-image: -o-linear-gradient(bottom, #CFCFCD 0%, #D6D6D6 30%, #DADADA 31%, #E5E4E2 100%);
background-image: -moz-linear-gradient(bottom, #CFCFCD 0%, #D6D6D6 30%, #DADADA 31%, #E5E4E2 100%);
background-image: -webkit-linear-gradient(bottom, #CFCFCD 0%, #D6D6D6 30%, #DADADA 31%, #E5E4E2 100%);
background-image: -ms-linear-gradient(bottom, #CFCFCD 0%, #D6D6D6 30%, #DADADA 31%, #E5E4E2 100%);
background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #CFCFCD),
  color-stop(0.3, #D6D6D6),
  color-stop(0.31, #DADADA),
  color-stop(1, #E5E4E2)
  );
}
.activeTabs{margin: 0px;float: right;background:  orange;height: 100%;text-align: center;color: white;
font-weight: bolder;
background-image: linear-gradient(bottom, #FD7914 0%, #F77110 50%, #ED610A 51%, #E04F01 100%);
background-image: -o-linear-gradient(bottom, #FD7914 0%, #F77110 50%, #ED610A 51%, #E04F01 100%);
background-image: -moz-linear-gradient(bottom, #FD7914 0%, #F77110 50%, #ED610A 51%, #E04F01 100%);
background-image: -webkit-linear-gradient(bottom, #FD7914 0%, #F77110 50%, #ED610A 51%, #E04F01 100%);
background-image: -ms-linear-gradient(bottom, #FD7914 0%, #F77110 50%, #ED610A 51%, #E04F01 100%);
background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0, #FD7914),
  color-stop(0.5, #F77110),
  color-stop(0.51, #ED610A),
  color-stop(1, #E04F01)
  );
}
.first-tab{border-bottom-right-radius: 5px;border-top-right-radius: 5px;border-left: 1px solid #A3A3A3;}
.third-tab{border-bottom-left-radius: 5px;border-top-left-radius: 5px;border-right: 1px solid #A3A3A3;}
.tabs-label{top: 10%;position: relative;font-size: 14px;}
/**********************************************************************/
.f_icons1{width:100%;}
.f_icons1 img,.f_icons2 img{margin-left:4.5%;margin-right:4.5%;}
.f_icons2{display:none;width:100%;}
.temp-footer{position: fixed;bottom: 0;height: 12.6%;width: 100%;z-index: 8;
background-image: url(../image/bg6.png);background-repeat: repeat;}
footer{position: fixed;bottom: 0;height: 12.6%;width: 100%;z-index: 2;}
footer .halfCircle{height: 17.24%;width: 20%;position: relative;margin: 0 auto;margin-top:  2px;top: 0px;
background-image: url(../image/2oba.png);background-repeat: no-repeat;background-size: 100% 100%;}
.activecircle{background-image: url(../image/2oba2.png) !important;}
footer .table-container{background: black;height: 82.76%;width: 100%;}
footer .table-container{background: black;height: 82.76%;width: 100%;}
footer table{width:90%;height:82.76%;margin-left:auto;margin-right:auto;text-align:center;border:none;
color:gray;font-weight:bold;font-size:13px;
	   background-image: linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,0,0) 50%, rgb(21,21,21) 50%, rgb(52,52,52) 100%);
  background-image: -o-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,0,0) 50%, rgb(21,21,21) 50%, rgb(52,52,52) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,0,0) 50%, rgb(21,21,21) 50%, rgb(52,52,52) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,0,0) 50%, rgb(21,21,21) 50%, rgb(52,52,52) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 0%, rgb(0,0,0) 50%, rgb(21,21,21) 50%, rgb(52,52,52) 100%);
  background-image: -webkit-gradient(
	  linear,
	  left bottom,
	  left top,
	  color-stop(0, rgb(0,0,0)),
	  color-stop(0.5, rgb(0,0,0)),
	  color-stop(0.5, rgb(21,21,21)),
	  color-stop(1, rgb(52,52,52))
  );
}
footer table td{width:20%;height:100%;display: inline-block;}
.active{color:#ffffff;background: rgb(255, 255, 255) transparent;background: rgba(255, 255, 255, 0.15);
-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;height: 100%;position: relative;}
.not_active{height: 90%;top: 5%;position: relative;}
.f_L_more{height: 90%;top: 5%;position: relative;}
.f_R_more{height: 90%;top: 5%;position: relative;}
footer .active div, footer .not_active div, footer .f_L_more div, footer .f_R_more div{height: 100%;}
footer table td img{ height: 52%;}
footer table td a{text-decoration:none;color:gray;position:relative;}
footer table td .active a{text-decoration:none;color:#ffffff;position:relative;}
/***********************************************************media*************************/
@media only screen and (min-width: 320px) {
.radio-div label{font-size: 14px !important;}
.radio-div2 label {font-size: 14px !important;}
.radioButtons label {font-size: 14px !important;}
.label-notActive {font-size: 14px !important;}
}
@media only screen and (min-width: 800px) {
.radio-div label{font-size: 16px !important;}
.radio-div2 label {font-size: 16px !important;}
.radioButtons label {font-size: 16px !important;}
.label-notActive {font-size: 16px !important;}
}
@media only screen and (min-width: 960px) {
.radio-div label{font-size: 18px !important;}
.radio-div2 label {font-size: 18px !important;}
.radioButtons label {font-size: 18px !important;}
.label-notActive {font-size: 18px !important;}
}
