.table-container{height: 90%;display: none;}
.table-container table{margin: 0;padding: 0;border: none;width: 100%;vertical-align: middle;
border-collapse: collapse;display: block;height: 100%;font-weight: bolder;}
.table-container thead{display: inline-table;width: 100%;height: 7%;}
.table-container tr{display: inline-table;width: 100%;text-align: center;position: relative;}
.results-bar{height: 100%;color: #F87410;font-weight: bolder;
background-image: linear-gradient(bottom, black 0%, #4C4C4C 100%);
background-image: -o-linear-gradient(bottom, black 0%, #4C4C4C 100%);
background-image: -moz-linear-gradient(bottom, black 0%, #4C4C4C 100%);
background-image: -webkit-linear-gradient(bottom, black 0%, #4C4C4C 100%);
background-image: -ms-linear-gradient(bottom, black 0%, #4C4C4C 100%);
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, black),color-stop(1, #4C4C4C));
}
.table-container tbody{height: 93% !important;width: 100%;display: block;overflow-y: scroll;}
.table-container tbody tr{height: 15.54% !important;}
.table-container tbody tr:nth-child(odd) {background-image: url(../image/bg4.png);
background-repeat: no-repeat;background-size: 100% 100%;}
.table-container tbody tr:nth-child(even) {background-color: white;}
.table-container tbody td{border-left:  1px solid #DFDFDF;height: 100% !important;position: relative;}
.logo{float: right;max-width: 42%;position: absolute;right: 2%;top: 10%;}
.table-container tbody tr label{position: relative;float: left;top: 10%;left: 2%;}
.col1{width: 7.5%;}
.col2{width: 22.5%;}
.col3{width: 11.25%;}
.col4{width: 9.687%;}
.col5{width: 10.3125%;}
.col6{width: 10%;}
.col7{width: 10.3125%;}
.col8{width: 16.25%;}
/**************************playersssssssssssssssssssssssssss************************************/
.player-tr{height: 21.5% !important;}
.player{border: 1px solid #FFAD7D;border-radius:5px;width: 86%;float: right;position: absolute;right: 7%;
top:10%;}
.logo2{max-width: 70%;float: right;position: absolute;right: 18%;top:21%;}
.pcol1{width: 7.5%;}
.pcol2{width: 21.25%;}
.pcol3{width: 36%;}
.pcol4{width: 18.875%;}
.pcol5{width: 16.25%;}