.votes-container{height: 66%;overflow-y: scroll;display: none;}
.vote{height: 54.7%;background-image: url(../image/bg6.png);background-repeat: repeat;position: relative;}
.qu{min-height: 24.3%;background: #D4D4D4;color: #DD4901;font-weight:  bolder;font-size: 14px;
position: absolute;width: 100%;}
.qu p{margin: 0px;padding: 0px;margin-right: 4.0625%;position: relative;top: 24%;width: 65%;float: right;
margin-top: 4px;}
.qu img{height: 81.25%;position: absolute;top: 9.375%;width: 23.5%;left: 2%;}
.button-cont{height: 75.7%;position: relative;top: 24.3%;}
.person-count{height: 15%;position: relative;top: 5%;}
.person-count p{margin: 0px;float: left;margin-left: 2%;font-size: 12px;color: #585858;}
.person-count img{float: left;margin-left: 7.2%;height: 100%;}
.radioButtons{height: 80%;margin-right: 11.25%;width: 88.75%;float: right;}
.item-container{height: 20%;width: 100%;}
.point{height: 100%;position: relative;top: 14.33%;float: right;}
.radioButtons label, .label-notActive{color: #626262;font-weight: bolder;position: relative;top: 30%;
float: right;right: 1%;width: 42%;}
.label-notActive{color: #B4B2B3 !important;}
.rate-div{width: 33%;height: 100%;position: relative;top: 14.33%;background-image: url(../image/rate-bg.png);
background-repeat: no-repeat;background-size: 100% 100%;float: right;}
.rate-div img{height: 100%;width: 0%;position: relative;top: 1px;}
.perc,.perc-notActive{font-size: 6px !important;color: #DC682D !important;width: auto !important;
font-weight: normal !important;top: 30% !important;}
.perc-notActive{color: #9D9D9D !important;}
